<apex:page controller="SL_Social_Feed" sidebar="false" showHeader="false" showchat="false" standardStylesheets="false">
    <a class="twitter-timeline" href="https://twitter.com/{!params['account']}?ref_src=twsrc%5Etfw">Tweets by {!params['account']}</a> 
    <script async="true" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</apex:page>